html,
body {
  padding: 0;
  margin: 0;
  font-family: Bold;
}
@font-face {
  font-family: Medium;
  src: url(./font/SVN-Gilroy\ Medium.otf);
}
@font-face {
  font-family: Bold;
  src: url(./font/SVN-Gilroy\ Bold.otf);
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
